<header class="header section-header">
  <div class="container container-header">
    <nav class="nav">
      <a class="nav-logo" href="./index.html">LOGO
        <svg class="nav-logo-icon" width="40" height="40">
        <use href="/img/logo-icon.svg#icon-logo-header-converted"></use>
      </svg>
    </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#service">Послуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">Про мене</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Контакти</a>
        </li>
      </ul>
      <button class="menu-btn" type="button" data-menu-open>
        <svg class="menu-btn-icon" width="28" height="28">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <load src="/partials/menu.html" />
    </nav>
    <button class="btn-menu-social" type="button" data-social-open>Зв'язок</button>
    <load src="/partials/menu-social.html" />
  </div>
</header>
