<section class="section hero-section">
  <div class="container hero-container">
    <div class="inner">
      <p class="hello-text">Ласкаво просимо до світу правової допомоги!</p>
      <h1 class="main-title">
        Ваш Надійний Партнер у Захисті Прав та Інтересів
      </h1>
      <div class="gallery">
        <img
          src="/img/bg-img/bg-image-mobile.avif"
          alt="Legal Ofice"
          width="280"
          height="340"
          srcset="/img/bg-img/bg-image-mobile.avif 1x, /img/bg-img/bg-image-mobile@2x.avif 2x"
        />
      </div>
      <p class="desc">
      Досвід, Розуміння та Індивідуальний Підхід для Рішення Ваших Юридичних
      Питань
    </p>
    <button class="hero-btn" type="button">Замовити консультацію</button>
    </div>
    
  </div>
</section>
