<div class="menu" data-menu>
  <button class="menu-btn-close" type="button" data-menu-close>
    <svg class="menu-btn-close-icon" width="12" height="12">
      <use href="../img/icon-close.svg#icon-close"></use>
    </svg>
</svg>
  </button>
        <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#service">Послуги</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#about-me">Про мене</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#contact">Контакти</a>
        </li>
      </ul>
      </div>