<div class="menu-social" data-social>
  <button class="btn-menu-social-close" type="button" data-social-close>
    <svg class="btn-menu-social-close-icon" width="12" height="12">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-social-list">
        <li class="menu-social-item">
          <a class="menu-social-item-link" href="#">
            <svg class="menu-social-item-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
        <li class="-menu-social-item">
          <a class="menu-social-item-link" href="#">
            <svg class="menu-social-item-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-frame"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-item">
          <a class="menu-social-item-link" href="#">
            <svg class="menu-social-item-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
</div>