<ul class="social-list">
  <li class="social-item">
    <a class="social-link" href="#">
      <p class="social-name">Viber</p>
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-viber"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="#">
      <p class="social-name">Telegram</p>
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-frame"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="#">
      <p class="social-name">Whatsapp</p>
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-whatsapp"></use>
      </svg>
    </a>
  </li>
</ul>
