<ul class="social-list">
  <li class="social-item">
    <a class="social-link" href="#">
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-viber"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="#">
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-frame"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a class="social-link" href="#">
      <svg class="social-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
