.section-header {
  background: linear-gradient(to right, #1c243c, #2e5749 30%, #4c7f65 50%, #7dBa89 70%, #d3d3d3);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 10px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-logo {
  color: #1c243c;
}

@media screen and (max-width: 767.98px) {
  header .container {
    position: relative;
  }

  .nav-list,
  .btn-menu-social {
    display: none;
  }
}

.menu-btn {
  background-color: transparent;
}

.menu-btn-icon {
  fill: #4C7F65;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover .menu-btn-icon,
.menu-btn:focus .menu-btn-icon {
  fill: #365F4A;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 24px;
    margin-right: 24px;
  }

  .nav-link {
    display: block;
    padding: 20px 0;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    transition: font-weight 300ms cubic-bezier(0.4, 0, 0.2, 1),
      color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    font-weight: 600;
    color: #355C47;
    transform: scale(1.1);
  }

  .menu-btn {
    display: none;
  }

  .btn-menu-social {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #4C7F65;
    transition: background-color 300ms ease, box-shadow 300ms ease;
  }

  .btn-menu-social:hover,
  .btn-menu-social:focus {
    background-color: #365F4A;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 1280px) {

  .nav-link {
    padding: 25px 0;
}
}