.container-header .nav {
  display: none;
}

.container-header .social-list {
  display: none;
}

.section-header {
  padding: 4px 0;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.menu-btn-icon {
  fill: #d4b373;
  transition: all 0.3s ease;
}

.menu-btn:hover .menu-btn-icon,
.menu-btn:focus .menu-btn-icon {
  fill: #4caf50;
  transform: scale(1.09);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 1))
    drop-shadow(0 4px 8px rgba(0, 0, 0, 1))
    drop-shadow(0 6px 12px rgba(0, 0, 0, 1));
}

@media screen and (min-width: 768px) {
  .container-header {
  justify-content: center;
}
  
  .container-header .nav {
    display: flex;
    margin-right: 40px;
  }

  .container-header .social-list {
    display: flex;
  }

  .nav-logo {
    flex-grow: 1;
  }

  .menu-btn {
    display: none;
  }
}
