.hero-section {
  position: relative;
  padding: 60px 0;
  min-height: 600px;
  background-image: url('/img/bg-img/bg-phone-mobile.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .menu {
    background-image: url('/img/bg-img/bg-phone-mobile@2x.avif');
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

}

.hello-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #f4d35e;
  text-align: center;
}

.main-title {
  font-family: var(--font-helpers);
  font-size: 32px;
  line-height: 1.16;
  text-align: center;
  color: rgb(238, 243, 242);

}

.desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.12em;
  color: #f4d35e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.hero-btn {
  font-family: var (--font-main);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #ececec;
  background-color: rgb(152, 131, 88);
  transition: box-shadow 300ms ease, transform 300ms ease,
    background-color 300ms ease, font-weight 400ms ease;
  border: 1px solid #1f1a19;
}

.hero-btn:hover {
  box-shadow: 0 6px 8px rgba(131, 109, 21, 0.4);
  background-color: #c8890c;
  color: rgb(232, 231, 179);
  transform: translateY(-4px);
  border: none;
}

.hero-section .social-icon {
  width: 20px;
  height: 20px;
}
.hero-section .social-list {
  position: absolute;
  bottom: 0;
  left: 23%;

  gap: 60px;
}
.hero-section .social-icon {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 90px 0;
    background-image: url('/img/bg-img/bg-phon-tablet.avif');
  }

  .inner {
    max-width: 400px;
    gap: 30px;
  }

  .hello-text {
    font-size: 14px;
    line-height: 1.2;
  }

  .main-title {
    font-size: 38px;
  }

  .desc {
    font-size: 16px;
    line-height: 1.17;
  }

  .hero-btn {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .gallery {
    display: none;
  }

  .hero-section .social-icon {
    left: 18%;
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 767.98px) and (max-width: 1279.98px) and (min-resolution: 192dpi) {
  .menu {
    background-image: url('/img/bg-img/bg-phon-tablet@2x.avif');
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding: 120px 0;
    background-position: center;

    background-image: url('/img/bg-img/bg-phon-desktop.avif');
  }
  .inner {
    max-width: 600px;
    gap: 0px;
    margin-bottom: px;
  }

  .hello-text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .main-title {
    font-size: 58px;
    margin-bottom: 32px;
  }

  .desc {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .hero-btn {
    font-size: 16px;
    margin-bottom: 30px;
    left: 21%;
    font-weight: 300;
    letter-spacing: 0.03em;
  }
  
  .hero-section .social-list {
    left: 23%;
  }
  .gallery {
    display: none;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .menu {
    background-image: url('/img/bg-img/bg-phon-desktop@2x.avif');
  }
}
